# Database connection string (PostgreSQL with PostGIS)
DATABASE_URL="postgres://vanszs:postgres@localhost:5432/ecohealth_db"

# Next.js Application Environment
NEXT_PUBLIC_APP_URL="http://localhost:3000"
